.addtocart{
    display: flex;
    width: 100%;

    &__btn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background: $orange;
        border: none;

        border-radius: 8px;

        margin: 0 24px;

        color: $white;

        padding: 0;

        // font-weight: 700;

        box-shadow: 0 8px 32px -8px $orange50;

        img{
            margin-right: 16px;
            height: 16px;
            filter: brightness(95);
        }
    }
}