.gallery{
    width: 400px;

    img{
        width: 100%;
        border-radius: 16px;
    }

    &__thumbs{
        padding-top: 24px;

        display: flex;

        justify-content: space-between;

        img{
            height: 80px;
            width: 80px;
            border-radius: 8px;
        }
    }
}