.navdesk{

    position: sticky;

    top: 0;
    width: 100%;

    display: flex;

    align-items: center;

    height: 102px;

    justify-content: space-between;

    border-bottom: 1px solid $blue-grey;

    background: $white;

    div:first-of-type{
        display: flex;
    }

    &__logo{
        height: 100%;
        padding-right: 40px;
    }

    &__cat{
        padding: 40px 0;
        margin: 0 16px;
        color: $blue-grey-d;
    }

    &__icons{
        display: flex;

        align-items: center;
    }

    &__avatar{
        height: 40px;
        margin-left: 40px;
    }
}